header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.logo {
  font-size: 3rem;
  color: #fcfdff;
}

.discovery {
  color: #cae344;
}

.github {
  font-size: 3rem;
  color: #fcfdff;
  transition: all 0.2s;
}

.github:hover {
  color: #d36738;
}
