.search {
  margin: 3rem;
  min-width: 50%;
}

.search h3 {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 2rem;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
  min-width: 50%;
  margin-left: 2rem;
}

input {
  border: none;
  background: none;
  font-size: 2rem;
  background: #fcfdff;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  color: #d36738;
  transition: all 0.2s;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
}

::placeholder {
  opacity: 0.3;
  text-transform: capitalize;
  color: #d36738;
}

input::selection {
  color: #fcfdff;
}

input:hover {
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
}

input:focus {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

button {
  position: absolute;
  z-index: 100;
  top: 23%;
  left: 89%;
  background: none;
  border: none;
  font-size: 2rem;
  color: #d36738;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  color: #cae344;
}

.select-style {
  width: 12rem;
  border-radius: 3px;
  overflow: hidden;
  padding: 0.5rem 0;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.select-style::after {
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem;
  position: absolute;
  top: 36%;
  left: 80%;
  background-image: url("./drop-down-arrow.svg");
  cursor: pointer;
}

.select-style select {
  font-size: 1.6rem;
  color: #d36738;
  padding: 1rem 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  font-family: "Nunito", sans-serif;
  background-image: none;
  font-weight: 700;
  background: #fcfdff;
}

.select-style select:hover {
  cursor: pointer;
}

.select-style select:focus {
  outline: none;
  background: #fcfdff;
}

@media only screen and (max-width: 600px) {
  .search form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .relative {
    margin-top: 2rem;
    margin-left: 0;
  }
}
