.search {
  margin: 3rem;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
  width: 50%;
  margin-left: 2rem;
}

input {
  border: none;
  background: none;
  font-size: 2rem;
  background: #fcfdff;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  color: #3765b0;
  transition: all 0.2s;
}

::placeholder {
  opacity: 0.3;
  text-transform: capitalize;
}

input:hover {
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
}

input:focus {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

button {
  position: absolute;
  z-index: 100;
  top: 20%;
  left: 90%;
  background: none;
  border: none;
  font-size: 2rem;
  color: #3765b0;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  color: #324b95;
}

.select-style {
  border: 1px solid #fcfdff;
  width: 12rem;
  border-radius: 3px;
  overflow: hidden;
  padding: 0.4rem 0;
}

/* .select-style select::after {
  content: "fsgg";
} */

.select-style select {
  font-size: 1.8rem;
  color: #fcfdff;
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
}

.select-style select:hover {
  cursor: pointer;
}

.select-style select:focus {
  outline: none;
  background: #386bb6;
}

/* .options {
  color: black;
} */
