* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* background-image: linear-gradient(25deg, #292586, #7c5d76, #b29b5e, #e2dd29); */
  background-image: linear-gradient(25deg, #d36738, #b98764, #90a390, #2ebcbd);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  color: #fcfdff;
}

::selection {
  background: #d36738;
  border-radius: 3px;
}

@media only screen and (max-width: 920px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
