.recommendation {
  width: 96vw;
}

.recommendation-heading {
  text-transform: capitalize;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  padding: 1rem;
}

.recommendation-type {
  text-transform: capitalize;
  color: #cae344;
}

.recommendation-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin-bottom: 10rem;
}

.recommendation-links {
  /* background-image: linear-gradient(25deg, #899a7e, #a7b166, #c1c848, #d9e000); */
  color: #fcfdff;
  border-radius: 10px;
  font-size: 2rem;
  height: 10rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.recommendation-links h4 {
  font-weight: 400;
}

.recommendation-links:hover {
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.35);
}
