.recommendation {
  width: 96vw;
}

.recommendation-heading {
  text-transform: capitalize;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.recommendation-heading h2 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-right: 2rem;
}

.recommendation-heading h4 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #cae344;
}

.recommendation-type {
  text-transform: capitalize;
  color: #cae344;
  font-weight: 700;
}

.recommendation-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin-bottom: 10rem;
}

.recommendation-links {
  color: #fcfdff;
  border-radius: 5px;
  font-size: 1.8rem;
  padding: 0.5rem;
  height: 10rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.recommendation-links:active {
  transform: translateY(3px);
}

.recommendation-links:hover {
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}

.recommendation-links h4 {
  font-weight: 400;
}

@media only screen and (max-width: 920px) {
  .recommendation-list {
    padding: 0.5rem;
    grid-gap: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
